.before-answer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  filter: drop-shadow(2px 2px 0px #7716d1);

}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.after-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  filter: drop-shadow(2px 2px 0px #7716d1);
}

.name {
  padding: 0px;
}


h1 {
  font-size: 35px;
}

p {
  font-size: 35px;
}

.image {
  width: 95vw;
}

.yes {
  margin: 10px;
  color: rgb(40, 0, 58);
  background-color: rgb(131, 0, 136);
  border-color:rgb(20, 1, 37) ;
  font-size: 20px;
}

.yes:hover {
  box-shadow: 10px 5px 5px red;
  cursor: pointer;
}

.no {
  color: red;
  background-color: black;
}

.no:hover {
  box-shadow: 10px 5px 5px red;
  cursor: pointer;
}
